.mdl-layout__header{
    display: flex;
    position: fixed;
    background-color: #222;
}

.nav-link {
  padding: 0 1em;
  width: 100px;
  color: rgba(255,255,255,.6);
  text-align: center;
  text-decoration: none;
}

.mdl-layout__header-row {
  height: 63px;
  padding: 0 16px 0 72px;
  padding-left: 8px;
  background-color: #673AB7;
  background: #0033FF;
  background-color: #222;
}

.mdl-title-icon > i{
    background-image: url(https://maxcdn.icons8.com/Color/PNG/48/Finance/money_box-48.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1em 2em;
}