.demo-card-square.mdl-card {
  width: 300px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url(http://f.vividscreen.info/soft/b1ceaf5f6f1a23ea92babba312d6e73f/FC-Arsenal-square-l.jpg) bottom right 15% no-repeat #46B6AC;
}